{% extends 'blog/base.html' %}
	{% block styles %}
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'streaming/style.css' %}">
	{% endblock %}

        {% block reach %}
<br><br><br><br>
			<!-- VIDEOS -->
			<main style="margin-left: 15%; margin-right: 15%;">
				<h3 style="color: white" id="movies">{{ video.title }}</h3>
				<div class="grid_one_container">
					<div class="grid_one_item">
                        <label class="lab-grid">VF</label><br>
                        <iframe width="560" height="315" src="{{ video.video_vf }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="grid_one_item">
                        <label class="lab-grid">VO</label><br>
                        <iframe width="560" height="315" src="{{ video.video_vo }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</main>
    <!-------------- STYLE ---------------------->
			<style>
			    /*--------- main section ---------*/
				.lab-grid {
					color: lightgrey;
					background-color: grey;
				}
				/*--------- grid one movies ---------*/
				.grid_one_container {
				  display: grid;
				  grid-template-columns: auto auto auto;
				  background-color: #424242;
				  padding: 10px;
				}
				.grid_one_item {
				  background-color: grey;
				  border: 1px solid rgba(0, 0, 0, 0.8);
				  padding: 20px;
				  font-size: 30px;
				  text-align: center;
				}
			</style>
        {% endblock %}
        {% block sidebar %}{% endblock %}