<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>MyProfil</title>
    <link rel="icon" href="https://pbs.twimg.com/profile_images/1090164813672665089/8tCqtXLI.jpg" type="image/gif" sizes="16x16">
</head>
<body style="background: url('https://i.ytimg.com/vi/lAp_FANpjdo/maxresdefault.jpg')">
    <img src="https://www.dotrofus.com/files/tutoriels/dofus/les-dofus-sommaire.jpg" alt="profil pic" style="margin-left: 10%; margin-top: 5%;">
    <table>
        <!--<caption>Council budget (in £) 2018</caption>-->
        <thead>
            <tr>
                <th scope="col">Categories</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Role</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>