<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST PAGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="icon" href="https://icon-library.net/images/wtf-icon/wtf-icon-2.jpg" type="image/gif" sizes="16x16">
</head>
<body style="background: url(https://images.unsplash.com/photo-1470058869958-2a77ade41c02?ixlib=rb-1.2.1&w=1000&q=80);">
    <h1 style="color: #9C2542">Welcome to my Portfolio</h1>
    {% block main %}
        <h1>This is base</h1>
    {% endblock%}

</body>
</html>