<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS -->
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    {% endblock %}
    <!-- FONTS -->
    	<!-- header fonts -->
	<link href="https://fonts.googleapis.com/css?family=Spectral+SC|Yatra+One&display=swap" rel="stylesheet">

    {% if title %}
        <title>Halo Blog - {{ title }}</title>
    {% else %}
        <title>Halo Blog</title>
    {% endif %}
    <!-- Fav Icon-->
    <link rel="icon" type="image/png" href="media\favicon_gif\halo_levels\frame_00_delay-0.01s.png" id="icon">
</head>
<body style="background-color: #424242;">
    <header class="site-header">
		<!-- NAVBAR BOOTSTRAP -->
<!--		<nav class="navbar navbar-light bg-dark fixed-top">-->
<!--		    <a class="navbar-brand" href="#">-->
<!--		    <img src="https://giffiles.alphacoders.com/230/23082.gif" width="100" height="30" class="d-inline-block align-top" alt="%@error#&">-->
<!--		    <span/style="font-family: 'Yatra One', cursive; color: lightgrey;">HALO WORLD</span>-->
<!--		    </a>-->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <img src="https://giffiles.alphacoders.com/230/23082.gif" width="100" height="30" class="d-inline-block align-top" alt="%@error#&">
          <a class="navbar-brand mr-4" href="/">HALO WORLD</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="dropdown show">
                  <a class="btn btn-secondary dropdown-toggle" href="http://127.0.0.1:8000/" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #424242;">
                    Movies
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="http://127.0.0.1:8000/#movies">Movies</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/#series">Series</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/#trailers">Trailers</a>
              </div>
            </div>
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}" style="color: #EFEAEA;">Blog</a>
              <a class="nav-item nav-link" href="{% url 'blog-contact' %}" style="color: #EFEAEA;">Contact</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'post-create' %}" style="color: #EFEAEA;">New Post</a>
                    <a class="nav-item nav-link" href="{% url 'profile' %}" style="color: #EFEAEA;">Profile</a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}" style="color: #EFEAEA;">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}" style="color: #EFEAEA;">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}" style="color: #EFEAEA;"    >Register</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
	</header>

    <!---------- MAIN CONTENT ----------->
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
          {% block sidebar %}
        <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
             </p>
          </div>
        </div>
          {% endblock %}
      </div>
    </main>
    {% block homevid %}{% endblock %}
    {% block reach %}{% endblock %}

	<!------------------------------- FOOTER COMMENT SECTION ---------------------------->

	<footer class="container-fluid section2" style="margin-top: 100px;">
        <ul class="footer" style="background-color: black; list-style: none; text-align: center; position: sticky; bottom:0;">
            <li style="color: white;">&copy; Copyright {% now 'Y' %} &middot; Johnrice-AJKD _ Developers Institute<img src="https://3gwtod2hg0th1ikege3y0nok-wpengine.netdna-ssl.com/wp-content/uploads/2017/08/43414_13872664_617366981756712_7499470743120503306_n.png" width="20" height="20"> &middot; All rights reserved ...</li>
        	<li><a href="https://textup.fr/394997Zo"><label>CGU</label></a></li>
        </ul>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/blog/script.js"></script>
</body>
</html>